### Classification 모델변경

In [1]:
# customerdata

### 라이브러리 선언 및 데이터 불러오기

In [2]:
# 숫자 및 데이터 다루는 라이브러리
import numpy as np
import pandas as pd

# 분류모델 선언
from sklearn import svm

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# 훈련/테스트 데이터 자동 분리
from sklearn.model_selection import train_test_split

In [3]:
# 분류모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

### 데이터 불러오기

In [4]:
# csv 파일 불러오기
csData = pd.read_csv("../dataset/customer.csv")
# csv 파일 불러오기
csData = pd.read_csv("https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customer.csv")

In [5]:
csData.head(2)

     balance     stock    label
0   30000000  22500000   normal
1  280000000  48000000  diamond

### 1. 타입 통합 / 숫자형 컬럼 추가

In [6]:
csData["balance"] = csData.balance.astype(int)
csData["stock"] = csData.stock.astype(int)
csData["label"] = csData.label.astype(str)

In [7]:
sortKey = ["balance"]

In [8]:
labelDict2 = csData.sort_values(sortKey).\
                label.drop_duplicates().\
                reset_index(drop=True).to_dict()

In [9]:
labelDict2 = dict( map(reversed, labelDict2.items()) )

In [10]:
labelDict2.items()

dict_items([('normal', 0), ('diamond', 1), ('vip', 2)])

In [11]:
csData.label.drop_duplicates()

0     normal
1    diamond
4        vip
Name: label, dtype: object

In [12]:
labelDict = {"normal":0,
             "diamond":1,
             "vip":2}

In [13]:
csData["labelcodel"] = csData.label.map(labelDict)

### 2.  특성 선정 및 데이터 분리

In [14]:
label=["label"]
stdCorr = 0.5
corrDf = csData.corr()
corrDf

             balance     stock  labelcodel
balance     1.000000  0.565942    0.883144
stock       0.565942  1.000000    0.824174
labelcodel  0.883144  0.824174    1.000000

In [15]:
features = \
    list( corrDf.loc[ (abs( corrDf.labelcodel ) > stdCorr ) &\
                     (corrDf.labelcodel != 1 ) ].index )

In [16]:
features

['balance', 'stock']

In [17]:
csData.shape

(20000, 4)

In [18]:
trainingData_features,\
testData_features,\
trainingData_label,\
testData_label =\
train_test_split(csData.loc[:, features], 
                 csData.loc[:, label], 
                 test_size=0.2, 
                 random_state=5)

In [19]:
print(trainingData_features.shape)
print(trainingData_label.shape)
print(testData_features.shape)
print(testData_label.shape)

(16000, 2)
(16000, 1)
(4000, 2)
(4000, 1)

### 3. 모델 선언/학습

In [21]:
model_method_svc = svm.SVC(random_state=1, C=1000, kernel="rbf")

In [22]:
model_svc = model_method_svc.fit(trainingData_features, trainingData_label)

C:\Users\kopo\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [25]:
model_method_knn = KNeighborsClassifier(n_neighbors=5)

In [26]:
model_knn = model_method_knn.fit(trainingData_features, trainingData_label)

C:\Users\kopo\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [36]:
from sklearn.tree import DecisionTreeClassifier

In [37]:
model_method_dt = DecisionTreeClassifier(random_state=3)

In [38]:
model_dt = model_method_dt.fit(trainingData_features, trainingData_label)

### 4. 예측

In [39]:
predictValueSvc = model_svc.predict(testData_features)
predictValueKnn = model_knn.predict(testData_features)
predictValueDt = model_dt.predict(testData_features)

### 5. 데이터 정리

In [28]:
testIndex = testData_label.index

In [29]:
testDataAll = csData.loc[testIndex]

In [30]:
testDataAll["PREDICT_SVM"] = predictValueSvc
testDataAll["PREDICT_KNN"] = predictValueKnn
testDataAll["PREDICT_KNN"] = predictValueKnn

In [33]:
accuracy_score(y_true=testDataAll.label,
               y_pred=testDataAll.PREDICT_SVM)

0.995

In [34]:
accuracy_score(y_true=testDataAll.label,
               y_pred=testDataAll.PREDICT_KNN)

0.995

In [35]:
testDataAll

         balance     stock    label  labelcodel PREDICT_SVM PREDICT_KNN
14456  306000000  18500000   normal           0      normal      normal
5536   768000000  35333333  diamond           1     diamond     diamond
4029   744000000  73000000      vip           2         vip         vip
128    784000000  27333333  diamond           1     diamond     diamond
14309  780000000  24000000  diamond           1     diamond     diamond
...          ...       ...      ...         ...         ...         ...
10879  244000000  21500000   normal           0      normal      normal
4138   516000000  48666666  diamond           1     diamond     diamond
10036  760000000  26000000  diamond           1     diamond     diamond
5313   596000000  41333333  diamond           1     diamond     diamond
1477   260000000  25500000   normal           0      normal      normal

[4000 rows x 6 columns]

In [27]:
testIndex = testData_label.index

In [28]:
testDataAll = csData.loc[testIndex]

In [29]:
testDataAll["PREDICT_SVM"] = predictValue

In [30]:
testDataAll

         balance     stock    label  labelcodel PREDICT_SVM
14456  306000000  18500000   normal           0      normal
5536   768000000  35333333  diamond           1     diamond
4029   744000000  73000000      vip           2         vip
128    784000000  27333333  diamond           1     diamond
14309  780000000  24000000  diamond           1     diamond
...          ...       ...      ...         ...         ...
10879  244000000  21500000   normal           0      normal
4138   516000000  48666666  diamond           1     diamond
10036  760000000  26000000  diamond           1     diamond
5313   596000000  41333333  diamond           1     diamond
1477   260000000  25500000   normal           0      normal

[4000 rows x 5 columns]

### 6. 평가

In [31]:
accuracy_score(testDataAll.label,
               testDataAll.PREDICT_SVM)

0.995

In [32]:
print( classification_report(testDataAll.label,
               testDataAll.PREDICT_SVM) )

              precision    recall  f1-score   support

     diamond       0.99      1.00      1.00      2374
      normal       1.00      0.99      1.00      1156
         vip       1.00      0.99      0.99       470

    accuracy                           0.99      4000
   macro avg       1.00      0.99      0.99      4000
weighted avg       1.00      0.99      0.99      4000

### 기타

In [33]:
features

['balance', 'stock']

In [34]:
inputBalanceData = 500000000
stockData = 500000000

In [35]:
testData = pd.DataFrame( [[inputBalanceData, stockData ]])

In [36]:
model.predict(testData)

array(['vip'], dtype=object)

In [37]:
inputBalanceData = 500
stockData = 500

In [38]:
testData = pd.DataFrame( [[inputBalanceData, stockData ]])

In [39]:
model.predict(testData)

array(['normal'], dtype=object)